@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Press Start 2P", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Custom Styles */

header {
  font-size: 5rem;
  font-weight: bold;
  align-self: center;
}

.heading {
  background-color: #457b9d;
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  color: #efefef;
}

.info-bar {
  display: grid;
  width: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-bar > div {
  text-align: center;
  font-size: 2rem;
}

#main-content {
  padding: 1em;
  font-size: 3rem;
  color: white;
  background-color: #1d3557;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 200px 1fr;
}

.gameboard {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  height: fit-content;
  border: 3px solid black;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 56px 1fr;
  width: fit-content;
  height: fit-content;
}

.axis {
  padding: 0px;
  display: grid;
  text-align: center;
  font-size: 32px;
  align-items: flex-end;
}

.x {
  grid-template-columns: repeat(10, 1fr);
}
.y {
  grid-template-rows: repeat(10, 1fr);
}

button:hover {
  background-color: #efefef;
}

#player-1 {
  background-color: aqua;
  border: 2px black solid;
}
.coordinateBtn {
  background-color: white;
  height: 80px;
  width: 80px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

/* Scoreboard styling */
.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Modal stylings */

.open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P", system-ui;
}

.closed {
  opacity: 0;
  position: fixed;
  top: -1000px;
}

#gamemode {
  width: 450px;
  height: 240px;
  border-radius: 10px;
  background-color: white;
  border: solid 1px #524848;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  gap: 13px;
}

#gamemode > button {
  border-radius: 10px;
  padding: 3px 15px;
  font-size: 1.3em;
  width: 400px;
}

.modal-title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Ship selection modal */
#ship-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1faee;
  gap: 2em;
  padding: 3em 2em;
  border: 4px solid black;
  border-radius: 8px;
}

#ship-selection {
  width: 880px;
  height: 368px;
  border-radius: 10px;
  background-color: #a8dadc;
  border: solid 4px #1d3557;
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  left: 70%;
  top: 59%;
}

#display-ship {
  width: 16em;
  height: 15em;
  border: solid 3px #1d3557;
  background-color: #efefef;
}

#display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

#start-game {
  font-size: 2em;
  padding: 3px 8px;
  border: 3px solid black;
  width: 11.5em;
  height: 3em;
}

#start-game:hover {
  background-color: rgb(226, 224, 224);
  height: 3em;
}

#customise-ship-container {
  border-radius: 10px;
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#customise-ship-container > button {
  height: 2.3em;
  border: 3px solid black;
}

#customise-ship-container > button:hover {
  background-color: rgb(226, 224, 224);
}

.property {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-left: 2em;
  height: 5em;
  background-color: #f1faee;
  border: 3px solid black;
  border-bottom: 0px;
}

.orientation-btn > button:hover {
  background-color: rgb(226, 224, 224);
}

.slider {
  width: 10em;
}

#color-container {
  display: flex;
  gap: 2em;
}

.palette-container {
  display: flex;
  gap: 16px;
}

.palette {
  border-radius: 8px;
  border: 3px solid black;
  width: 2.5em;
  height: 2.5em;
}

#red {
  background-color: #ff006e;
}

#green {
  background-color: #84a59d;
}

#purple {
  background-color: #8338ec;
}

#blue {
  background-color: #3a86ff;
}

#yellow {
  background-color: #ffbe0b;
}

.error {
  color: red;
  font-size: larger;
}

#right-side-label {
  text-decoration: underline;
}

/* Stylings for the custom ship screen */

#display-ship {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-square {
  width: 2em;
  height: 2em;
  background-color: red;
  border: 1px solid black;
}

#custom-ship {
  display: grid;
}

#draggable-ship {
  display: grid;
  position: absolute;
}

#draggable-ship > div {
  height: 70px;
  width: 70px;
}

/* winnerScreen styles */

#winner-screen {
  height: 350px;
  width: 700px;
  background-color: #ffc300;
  border: 6px solid #ffd60a;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

#winner-title {
  font-size: 4em;
  text-align: center;
}

.restart-btn {
  font-size: 2em;
  border: 4px solid black;
  border-radius: 21px;
  padding: 12px;
}

.restart-btn:hover {
  background-color: #dfdddd;
}

.turn-screen {
  position: fixed;
  background: #133555;
  opacity: 0.7;
  height: 0%;
  width: 50%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hide-screen {
  position: fixed;
  background: #133555;
  height: 83%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
