@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Custom Styles */

header {
  font-size: 5rem;
  font-weight: bold;
  align-self: center;
}

.heading {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
}

.info-bar {
  display: grid;
  width: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
}

.info-bar > div {
  text-align: center;
  font-size: 2rem;
}

#main-content {
  padding: 1em;
  font-size: 3rem;
  background-color: #92bcea;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5fr 3fr 5fr;
}

.gameboard {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
  height: fit-content;
  border: 3px solid black;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-template-rows: 56px 1fr;
}

.axis {
  padding: 0px;
  display: grid;
  text-align: center;
  font-size: 32px;
  align-items: flex-end;
}

.x {
  grid-template-columns: repeat(10, 1fr);
}
.y {
  grid-template-rows: repeat(10, 1fr);
}

button:hover {
  background-color: #efefef;
}

#player-1 {
  background-color: aqua;
  border: 2px black solid;
}
.coordinateBtn {
  background-color: white;
  height: 1.2em;
  width: 1.2em;
  padding: 0px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scoreboard styling */
.scoreboard-content {
  background-color: white;
  height: 13em;
  width: 3em;
  border-radius: 15px;
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-title {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.2em;
  padding-top: 0.4em;
}

.ship-container {
  border: solid 2px black;
  width: 2em;
  height: 2em;
  border-radius: 8px;
  margin: 0.3em;
}

#middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.movement-log {
  width: 6.2em;
  height: 4em;
  background-color: white;
  border: 3px solid black;
  border-radius: 12px;
}

/* Modal stylings */

.open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P", system-ui;
}

.closed {
  opacity: 0;
  position: fixed;
  top: -1000px;
}

#gamemode {
  width: 450px;
  height: 240px;
  border-radius: 10px;
  background-color: white;
  border: solid 1px #524848;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  gap: 13px;
}

#gamemode > button {
  border-radius: 10px;
  padding: 3px 15px;
  font-size: 1.3em;
  width: 400px;
}

.modal-title {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 16px;
}

.versus-player {
}
